{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
</head>

<body>
    {% block content %}
    <h2>Insrciption</h2>
    <div class="form form__login border border-success d-flex justify-content-center">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" >S’inscrire</button>
        </form>
    </div>
    {% endblock content %}

</html>