@import 'footer';

$body-colore: #f4f4f4;
$body-font: Helvetica, sans-serif;

*{
	background-image: url(../img/_4287fca8-9b5f-41a9-800c-f252e90d476e.jpg);
}

body {
    // background-color: $body-colore;
	background-image: url(../img/_4287fca8-9b5f-41a9-800c-f252e90d476e.jpg);
    font-family: $body-font;
    line-height: 1.6;
}

a {
	transition: .3s all ease;
	&, &:hover {
		text-decoration: none!important;
	}
}

.TEST{
	color: brown;
}