<footer class="footer">
    <div class="container mb-0">
      <div class="row text-center">
        <div class="col-md-4 pr-md-5">
          <a href="#" class="footer-site-logo d-block mb-2">LITRevu</a>
          <p>Facilite le partage et l'accès à des critiques de livres et d'articles. Notre plateforme permet aux utilisateurs de publier leurs critiques,
             de demander des avis sur des livres ou des articles spécifiques, et de découvrir des lectures intéressantes grâce aux critiques d'autres membres.</p>
        </div>
        <div class="col-md text-center">
          <ul class="list-unstyled nav-links">
            <li><a href="{% url 'blog:flux' %}">Flux</a></li>
            <li><a href="{% url 'blog:posts' %}">Posts</a></li>
            <li><a href="{% url 'blog:subscriptions' %}">Abonnements</a></li>
            <li><a href="#">À propos de nous</a></li>
          </ul>
        </div>

        <div class="col-md">
          <ul class="social list-unstyled">
            <li><a href="#"><span class="icon-instagram "></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-pinterest"></span></a></li>
          </ul>
          <p class=""><a href="#" class="btn btn-tertiary">Contactez-nous</a></p>
        </div>
      </div>

      <div class="row ">
        <div class="col-12 text-center">
          <div class="copyright mt-2 pt-2">
            <p><small>&copy; Copyright © 2023 - All rights reserved || Designed By: Trissi.</small></p>
          </div>
        </div>
      </div>
    </div>
</footer>
