{% extends 'base.html' %}
{% load custom_filters %}
{% load django_bootstrap5 %}


{% block content %}
    {% include 'blog/message.html' %}    

    <ul class="d-flex justify-content-evenly mt-3 list-unstyled">
        {% comment %} <li><a class="btn btn-outline-dark" href="{% url 'blog:create-ticket' %}" role="button">Créer un ticket</a></li> {% endcomment %}
        <li><a class="btn btn-outline-dark" href="{% url 'blog:create-review' %}" role="button">Créer une critique</a></li>
        <li><a class="btn btn-outline-dark" href="{% url 'blog:create-ticket' %}" role="button">Demander une critique</a></li>  
        <!-- Example single danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Masquer
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Critiques</a></li>
                <li><a class="dropdown-item" href="#">Tickets</a></li>
            </ul>
        </div>
    </ul>
    
    <div class="bg-light bg-opacity-75 col-md-10 shadow p-4 mt-4 mb-5 bg-body rounded mx-auto">
        <p class="text-secondary text-center fs-3 text-decoration-underline">Vos posts</p>
        {% for item in page %}
            {% if item|is_ticket %}
                {% include 'blog/ticket_review_item.html' with ticket=item is_review=False %}
            {% elif item|is_review %}
                {% include 'blog/ticket_review_item.html' with review=item is_review=True %}
            {% endif %}
        {% endfor %}
    </div>  

    <nav aria-label="Page navigation example link-dark">
        <ul class="pagination justify-content-center link-dark">
            {% if page.has_previous %}
                <li class="page-item ">
                    <a class="page-link link-dark" href="?page={{page.previous_page_number}}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}
    
            {% for num_page in page.paginator.page_range %}
                <li class="page-item"><a class="page-link link-dark" href="?page={{num_page}}">{{num_page}}</a></li>
            {% endfor %}
    
            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link link-dark" href="?page={{page.next_page_number}}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}
