{% extends 'base.html' %}

{% block content %}

    {% include 'blog/message.html' %}

    <!-- Search form to follow other users -->
    <h4 for="search_user" class="text-center mt-3">Rechercher un utilisateur:</h4>
    <form method="post" class="d-flex mb-5 " role="search" action="{% url 'flux:search-user' %}">
        {% csrf_token %}
        <input class="form-control me-2" name="searched" type="search" placeholder="Rechercher un utilisateur" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
      </form>

    <!-- Table for showing subscriptions -->
    <h4 class="text-center">Abonnements:</h4>
    <table class="table table-striped mb-5">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions_objects %}
            <tr>
                <td>{{ subscription.followed_user }}</td>
                <td class="text-end">
                    <a href="{% url 'blog:unsubscribe' subscription.followed_user.id %}" class="btn btn-danger">Désabonner</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Table for showing subscribers -->
    <h4 class="text-center">Abonnés:</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in subscribers_objects %}
            <tr>
                <td>{{ subscriber.user }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
